<section id="homepage">
    <div class="text-center center-div mt-5" id="dashboard">
        <div class="container w-25 border border-secondary rounded mt-5 py-5">
            <h3>Welcome To Dashboard</h3>
            
            <a href="/logout">Logout</a>
        </div>
    </div>
    </section>